.Quiz {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #b180f5 0%, #63ffcc 100%);
}


.wrapper {
    width: 600px;
}

.Quiz h1  {
    margin-top: 100px;
    margin-left: 15px;
    color: white;
}

