.Button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid white;
    color: black;
    margin-right: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    opacity: .8;
    transition: all .15s ease-in-out;
}

.Button:hover {
    cursor: pointer;
    opacity: 1;
}

.Button:focus {
    outline: none;
}

.Button:active {
    box-shadow: inset 3px 3px 2px rgba(0, 0, 0, .3);
}

.Button:disabled {
    background: gray;
    color: black;
    cursor: not-allowed;
}

.success {
    background: rgb(180, 240, 70);
}

.error {
    background: rgb(240, 70, 120);
}

.primary {
    background: dodgerblue;
    color: white;
}