.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, lightskyblue 0%, lightblue 100%);
}

.Auth > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.Auth h1 {
    color: white;
    text-align: center;
}

.Auth form {
    background: #f6f6f6;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}